.header{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: hsl(214, 27%, 10%);
    position: sticky;
    height: 35px;
    flex-direction: column;
}

.headerLink{
    font-weight: 550;
    margin-top: 3px;
    font-size: 20px;
    color: white;
}
